---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    // Filter English cases only (from en/ subfolder)
    const cases = await getCollection('cases', ({ id }) => {
        return id.startsWith('en/');
    });
    return cases.map((caseItem) => {
        return {
            params: { id: caseItem.id.replace('en/', '') },
            props: { case: caseItem }
        };
    });
}

type Props = { case: CollectionEntry<'cases'> };

const { case: caseItem } = Astro.props;
const { title, description, seo } = caseItem.data;
const { Content } = await render(caseItem);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{title}</h1>
        </header>
        <div class="max-w-none prose sm:prose-lg">
            <Content />
        </div>
    </article>
</BaseLayout>